* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
}

.left-navbar {
    width: 17%;
}

.main {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(5, 20%); */
    gap: 20px;
}

.item {
    background-color: rgb(245, 240, 230);
    height: 440px;
    width: 260px;
    box-shadow: rgb(213, 219, 219) 0px 7px 15px 0px;
}

.price {
    vertical-align: super;
    font-size: 50%;
    font-weight: 100;
}

img {
    width: 100%;
}

.picture {
    height: 60%;
    max-height: 270px;
}

.cart-body {
    height: 40%;
}