h3 {
    padding: 0;
    margin: 0;
    width: fit-content;
    /* border: 1px solid; */
}

nav {
    background-color: rgb(14, 14, 39);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    color: white;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input {
    border: none;
}

.search {
    display: flex;
    border: 3px solid black;
    border-radius: 7px;
    background-color: rgb(247, 210, 91);
    height: fit-content;
    gap: .5em;
    align-items: center;
    width: 40%;
    padding: 5px;

}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cart {
    display: flex;
    gap: 2em;
    color: white;
    align-items: center;
}

.cart h4:hover {
    transform: scale(1.2);
    transition: .2s;
    cursor: pointer;
}

.cart img:hover {
    transform: scale(1.2);
    transition: .2s;
    cursor: pointer;
}

.bottom-nav {
    height: 50px;
    background-color: rgba(19, 19, 19, 0.801);
    color: white;
}

.bottom-nav ul {
    display: flex;
    justify-content: space-around;
    height: inherit;
    align-items: center;
}

.bottom-nav ul li {
    font-size: 18px;
    text-transform: uppercase;
}

.bottom-nav ul li:hover {
    transform: scale(1.1);
    color: rgb(247, 210, 91);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.banner {
    width: 85%;
    height: 500px;
    background-image: url(/Challenge-Collab/imgs/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.opacityFilter {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(255, 255, 255, 0.918) 90%);
    height: inherit;
    width: 100%;
    position: absolute;
    z-index: 20;
    margin-left: auto;
    margin-right: auto;
}

.cta {
    text-transform: uppercase;
    width: 100%;
    bottom: 0;
    margin: auto;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: 30;
}

.cta h1 {
    font-size: 48px;
}

.cta button {
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
    color: white;
    background-color: rgb(1, 153, 255);
    cursor: pointer;
    font-size: 24px;
}

.cta button:hover {
    transform: translateX(10px);
    transition: .3s ease-in-out;
}

.products {
    width: 80%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    position: relative;
    z-index: 40;
}

.container {
    display: flex;
    justify-content: space-around;
    height: inherit;
    align-items: center;
    padding: 5px;
    gap: 10px;
}

.display {
    height: 85%;
    width: 32%;
    padding: 10px;
}

.grid {
    display: grid;
    height: inherit;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.gridItems {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.imgCover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 200px;
}

.i1 {
    background-image: url(/Challenge-Collab/imgs/decor1.jpg);
}

.i2 {
    background-image: url(/Challenge-Collab/imgs/decor2.jpg);
}

.i3 {
    background-image: url(/Challenge-Collab/imgs/decor3.jpg);
}

.i4 {
    background-image: url(/Challenge-Collab/imgs/decor4.jpg);
}

.i5 {
    background-image: url(/Challenge-Collab/imgs/ele1.jpg);
}

.i6 {
    background-image: url(/Challenge-Collab/imgs/ele2.jpg);
}

.i7 {
    background-image: url(/Challenge-Collab/imgs/ele3.jpg);
}

.i8 {
    background-image: url(/Challenge-Collab/imgs/ele4.jpg);
}

.i9 {
    background-image: url(/Challenge-Collab/imgs/b1.jpg);
}

.i10 {
    background-image: url(/Challenge-Collab/imgs/b2.jpg);
}

.i11 {
    background-image: url(/Challenge-Collab/imgs/b3.jpg);
}

.i12 {
    background-image: url(/Challenge-Collab/imgs/b4.jpg);
}